head {
    font-size: 20px;
    font-family: courier;
    font-weight: bold;
    color: rgb(56, 7, 7);
    text-align: center;
}
body {
    
    font-size: 25px;
    font-family: courier;
    font-weight: bold;
    color:rgb(56,7,7);
    background-color: pearl;
    background-repeat: no-repeat;
    width: 360px;
    height: 360px;
    margin: auto;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,button {
    text-align: center;
}

button {
    margin:auto;
}
